.footer {
    background-color: #f1f1f1; 
    text-align: center;
    position: relative;
    bottom: 0; 
    width: 100%; 
    border-top: 1px solid #ccc;
  }
  
  .footer p {
    margin: 5px 0;
    color: #555;
  }