.Mart {
    background-color: #ffffff; 
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px; 
    text-align: left; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 180px;
    height: 150px; 
    margin: 0px auto;
  }

  h2 {
    color: rgb(0, 0, 0);
  }

  .button-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .Mart-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
    border: none; 
    border-radius: 10px; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  .Mart-button:hover {
    background-color: #d5d5d5;
  }
  
  .button-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }